
@{
    ViewBag.Title = "Zalogowano pomyślnie";
}

<h2>Zalogowano pomyślnie</h2>

@if(Session["LogedUserFullName"] != null)
{
    <text>
        Witaj @Session["LogedUserFullName"].ToString() w serwisie Subskrypcja.
        <br />
        <p>
            Za chwile zostaniesz przekierowany do Panelu właściwego...
        </p>
    </text>
}

