
@{
    ViewBag.Title = "Zły login";
}

<h2>Zły login</h2>

<p> Wprowadzone przez Ciebie dane są niepoprawne. Spróbuj ponownie</p>

<div>
    @Html.ActionLink("Zaloguj", "Login", "Administrator")   
</div>

